<!DOCTYPE html>
<html>
	<head>
		<title>Raven | About</title>
	</head>
	<body>
		<h1>About Me</h1>
		<p>
		<a href="http://railstutorial.org/">Raven</a>
		is a project to keep track of one's music library, including the ability
		to keep track of Compact Disc information relating to files.  This
		utilizes the amazing web framework Ruby on Rails
		</p>
	</body>
</html>

