<!DOCTYPE html>
<html>
	<head>
		<title>Raven | Home</title>
	</head>
	<body>
		<h1>Raven</h1>
		<p>
		This is the home page for the
		<a href="http://railstutorial.org/">Raven</a>
		Music Application.
		</p>
	</body>
</html>